<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrap">
        <div class="container body-content">

            <header class="header">
               
                <nav class="navbar navbar-default">
                    <p class="col-md-4 navbar-brand">LOGO</p>
                    <div class="container-fluid">
                       
                        <ul class="nav navbar-nav navbar-left">
                            <li class="btn btn-sm navbar-btn">@Html.ActionLink("Hem", "Index", "Home", null, new { style = "color:black" })</li>
                            <li class="btn navbar-btn">@Html.ActionLink("Offert", "Contact", "Home", null, new { style = "color:black" })</li>
                            <li class="btn navbar-btn">@Html.ActionLink("Våra Tjänster", "Service", "Home", null, new { style = "color:black" })</li>

                            </ul>
</div>
                    </nav>
                        @*<div class="row">

                            <h1 class="col-md-6">Välkommen till Mariatorget Städ</h1>
                            <ul class="nav navbar-nav col-md-5 col-md-push-1">
                                <li class="navbar-btn">@Html.ActionLink("Hem", "Index", "Home", null, new { style = "color:black" })</li>
                                <li class="navbar-btn">@Html.ActionLink("Offert", "Contact", "Home", null, new { style = "color:black" })</li>
                                <li class="navbar-btn">@Html.ActionLink("Våra Tjänster", "Service", "Home", null, new { style = "color:black" })</li>
                            </ul>


                        </div>*@
            </header>
            

            @RenderBody()
            <br />

            <footer class="footer">
                Copyright &copy; 2012 <a href="index.html">Your Name</a><br />
                Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a><br />
                Best hosted at <a href="https://www.svenskadomaner.se/?ref=mall&amp;ling=en" title="Svenska Domäner AB">www.svenskadomaner.se</a>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
