<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mariatorget Städ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrap">
        <div class="container body-content">

            <header class="header">
                <div class=" container">

                    <div class="col-md-6 col-lg-6 col-sm-12"><img  src="~/Images/Mariatorget_Logo.png" class="LogoImage" /></div>

                    <div class="col-md-6 col-lg-6 col-sm-12 ButtonGroupCustom"> @*pull left*@
                        @Html.ActionLink("Hem", "Index", "Home", null, new { @class = "btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-5"})
                        @Html.ActionLink("Kontakta Oss", "Contact", "Home", null, new { @class = "btn btn-default btn-lg col-xs-12 col-sm-12 col-md-5" })
                    </div>
                                             
                </div>
            </header>


            @RenderBody()
            <br />

            <footer class="footer">
                Copyright &copy; 2016 <a href="http://www.hbgdatorservice.se/">Helsingborgs Datorservice AB</a><br />
                Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a><br />
                Best hosted at <a href="https://www.svenskadomaner.se/?ref=mall&amp;ling=en" title="Svenska Domäner AB">www.svenskadomaner.se</a>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
